
<html lang="EN-US" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
<meta charset="UTF-8" />
	<meta name="subject" content="PDF intelenz"/>
	<meta name="author" content="Intelenz"/>
	<meta name="description" content="Process PDF"/>

	<!--   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> -->
<!--   <meta name="viewport" content="width=device-width"/> -->


<title>[[${titulo}]]: Gestión de Costos Operativos</title>
	<link rel="stylesheet" href="/css/styles.css" th:href="@{http://localhost:8081/css/styles.css}" />
</head>

<body>

	<div class="header">
		<table class="header">
			<col width="40%">
			<col width="60%">
			<tr>
				<th style="text-align: left">
					<div style="margin-bottom: 15px">
						<span style="font-weight: 400; font-size: 17px; vertical-align: middle; margin-left: 7px">Gestión de Costos Operativos</span>
					</div>
				</th>
				<th>
					<div style="margin-bottom: 15px">
						<div style="color: #868686; padding-right: 10px; text-align: right; font-weight: 400">
							[[${titulo}]]
						</div>
					</div>
				</th>
			</tr>
		</table>


	</div>



	<div class="footer">
		<div style="margin-top: 5px; margin-bottom: 5px; color: #929292;">
			<table>
				<col width="150">
				<col width="60">
				<tr>
					<th style="font-size: 15px; text-align: left; font-weight: 400">Desde [[${#dates.format(desde, 'MM/dd/yyyy')}]] hasta [[${#dates.format(hasta, 'MM/dd/yyyy')}]]</th>
				</tr>
				<tr>
					<th style="font-size: 15px; text-align: left; font-weight: 400">Documento generado por [[${usuarioDTO.nombre}]] en [[${#temporals.format(hoy, 'MM/dd/yyyy hh:mm a')}]]</th>
					<th style="font-size: 10px; text-align: right">Por: gestión de costos operativos</th>
				</tr>
			</table>

		</div>
	</div>

	<div class="content">

		<table class="all">
			<tr>
				<th>
					<div>
						Nombre del [[${titulo.equals("Productos") ? "Producto" : "Material"}]]
					</div>
				</th>
				<th th:if="${titulo.equals('Productos')}">
					<div>
						Depreciación
					</div>
				</th>
				<th th:if="${titulo.equals('Productos')}">
					<div>
						Costo de Producción
					</div>
				</th>
				<th th:if="${titulo.equals('Productos')}">
					<div>
						Ganancia
					</div>
				</th>
				<th th:if="${titulo.equals('Productos')}">
					<div>
						Precio de venta en dolares
					</div>
				</th>
				<th th:if="${titulo.equals('Productos')}">
					<div>
						Precio de venta
					</div>
				</th>
				<th th:unless="${titulo.equals('Productos')}">
					<div>
						Costo de Compra
					</div>
				</th>
				<th th:unless="${titulo.equals('Productos')}">
					<div>
						Cantidad
					</div>
				</th>
				<th th:unless="${titulo.equals('Productos')}">
					<div>
						Tipo de unidad
					</div>
				</th>
			</tr>
			<tr th:if="${titulo.equals('Productos')}" th:each="producto: ${pdf.list}">
				<td>
					<div>
						[[${producto.nombre}]]
					</div>
				</td>
				<td>
					<div>
						[[${producto.depreciacion}]]%
					</div>
				</td>
				<td>
					<div>
						[[${producto.costoProduccion}]]Bs
					</div>
				</td>
				<td>
					<div>
						[[${producto.ganancia}]]Bs
					</div>
				</td>
				<td>
					<div>
						[[${producto.precioVentaDolares}]]$
					</div>
				</td>
				<td>
					<div>
						[[${producto.precioVenta}]]Bs
					</div>
				</td>
			</tr>
			<tr th:unless="${titulo.equals('Productos')}" th:each="material: ${pdf.list}">
				<td>
					<div>
						[[${material.nombre}]]
					</div>
				</td>
				<td>
					<div>
						[[${material.costo}]]Bs
					</div>
				</td>
				<td>
					<div>
						[[${material.cantidadCompra}]]
					</div>
				</td>
				<td>
					<div>
						[[${material.tipoUnidad.tipo}]]
					</div>
				</td>
			</tr>

		</table>

	</div>



</body>

</html>